<div class="js-navigation-region"></div>
<div class="js-header-region"></div>
<div class="js-content-region">
    <div class="container content">
        <p>Lorum ipsum, and all that stuff</p>
    </div>
</div>
