<div class="container">
    <div class="well">
        <form>
            <label for="name">My name is</label>
            <input type="text" name="name" id="name">
            <button class="doGreet">Greet Me!</button>
        </form>
    </div>
</div>
