<div class="container">
    <div class="well col-md-6">
        <label for="name">My name is</label>
        <input type="text" name="name" class="name">
        <button class="doGreet">Greet Me!</button>
    </div>
    <div class="col-md-6 js-message-region">
    </div>
</div>
