<div class="container">
    <div class="well">
        <label for="name">My name is</label>
        <input type="text" name="name" class="name">
        <button class="doGreet">Greet Me!</button>
    </div>
</div>
