.jumbotron {
    margin-bottom: 1em;
    background-image: url(../img/hot-lava.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    padding: 88px 0 48px 0;
}

.jumbotron .content {
    margin-top: 70px;
}
